.cliente__container {
  width: 95%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
}

.cliente__container header {
  display: flex;
  align-items: center;
}

.cliente__container header img {
  height: 50px;
}

.cliente__container header button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 1 10 5px black;
  border: 1px solid white;
  background: green;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.cliente__container header button:hover {
  border-color: blue;
}

table, th, td {
  border: 1px solid black;
  margin: 10px 10px auto 10px;
  padding: 20px;
  text-align: left;

}